<nav>
  <ul>
    <li>
      <a
        routerLink="/bar"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Bar Chart</a
      >
    </li>
    <li>
      <a
        routerLink="/pie"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Pie Chart</a
      >
    </li>
    <li>
      <a
        routerLink="/line"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Line Chart</a
      >
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
